
{% extends 'base.html' %} {% block content %}
<script>
	jQuery(function () {
		jQuery("#appointment_date").datepicker({
			changeMonth: true,
			changeYear: true,
			yearRange: "0:+1",
			dateFormat: 'd MM,yy'
		});
	});
</script>
<!--container start-->
<div class="container scrolled-offset">
	<!-- ======= About Us Section ======= -->
	<section id="contact" class="contact">
		<div class="container">
			<div class="row">
				<div class="form-wrapper">
					<form enctype="multipart/form-data" method="post" class="php-email-form" action="">
						{% csrf_token %}
						<h2 class="form-signin-heading">Change Password</h2>
						{% if messages %}
						<div class="alert alert-success" style="margin:10px;">
							{% for message in messages %}
							<strong>{{ message }}</strong>
							{% endfor %}
						</div>
						{% endif %}
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">New Password</label>
							<div class="col-sm-5">
								<input type="password" class="form-control" placeholder="New Password" required autofocus="" name="user_new_password" id="user_new_password">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Confirm Password</label>
							<div class="col-sm-5">
								<input type="password" class="form-control" placeholder="Confirm Password" required autofocus="" name="user_confirm_password" id="user_confirm_password">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">&nbsp;</label>
							<div class="col-sm-5">
								<button type="submit" class="btn btn-primary">Submit</button>
								<button type="reset" class="btn btn-danger">Reset</button>
							</div>
						</div>
				</div>
				<input type="hidden" name="act" value="save_type">
				<input type="hidden" name="user_id" value="{{typelist.user_id}}">
				</form>
			</div>
		</div>
</div>
</section>
<!-- End About Us Section -->
</div>
<!--container end-->
{% endblock content %}

