{% extends 'base.html' %}
{% block content %}
<script>
	$(document).on("click", ".delete-dialog", function () {
		var id = $(this).data('id');
		$("#recordID").val(id);
	});
	function delete_record(car_id) {
		location.href = "/cars/delete/" + car_id;
	}
</script>
<!--container start-->
<div class="container scrolled-offset">
	<!-- ======= About Us Section ======= -->
	<section id="contact" class="contact">
		<div class="row">
			<div class="form-wrapper">
				<div class="php-email-form">
					<h2 class="form-signin-heading">All Available Cars</h2>
					<div class="row">
						{% if messages %}
						<div class="alert alert-success" style="margin:10px;">
							{% for message in messages %}
							<strong>{{ message }}</strong>
							{% endfor %}
						</div>
						{% endif %}
						<div class="col-lg-12">
							<form name="frm" method="post">
								<table class="table table-striped table-advance table-hover" style="color:#000000">
									<tbody>
										<tr>
											<th style="background-color:#a01c1c; color:#FFFFFF;">ID</th>
											<th style="background-color:#a01c1c; color:#FFFFFF;">Image</th>
											<th style="background-color:#a01c1c; color:#FFFFFF;">Owner Name</th>
											<th style="background-color:#a01c1c; color:#FFFFFF;">Contact</th>
											<th style="background-color:#a01c1c; color:#FFFFFF;">Car Name</th>
											<th style="background-color:#a01c1c; color:#FFFFFF;">Type</th>
											<th style="background-color:#a01c1c; color:#FFFFFF;">Company</th>
											<th style="background-color:#a01c1c; color:#FFFFFF;">Stock</th>
											<th style="background-color:#a01c1c; color:#FFFFFF;">Price</th>
											<th style="background-color:#a01c1c; color:#FFFFFF;">Action</th>
										</tr>
										{% for car in carlist %}
										<tr>
											<td style="text-align:center; font-weight:bold;">{{ forloop.counter }}</td>
											<td><img src="{{car.car_image}}" style="height:50px; width:50px"></td>
											<td>{{car.user_name}}</td>
											<td>{{car.user_mobile}}</td>
											<td>{{car.car_name}}</td>
											<td>{{car.type_name}}</td>
											<td>{{car.company_name}}</td>
											<td>{{car.car_number}}</td>
											<td>{{car.car_price}}</td>
											<td>
												<div class="btn-group">
													<a href="/cars/update/{{car.car_id}}"
														class="btn btn-success">Edit</a>
													<a class="delete-dialog btn btn-danger" href="JavaScript:delete_record({{car.car_id}})">Delete</a>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
								<input type="hidden" name="act" />
								<input type="hidden" name="car_id" id="recordID" />
							</form>
						</div>
					</div>
				</div>
			</div>
	</section>
</div>
{% endblock content %}