{% extends 'base.html' %}
{% block content %}
<!--container start-->
<div class="container">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">
  
          <div class="section-title">
            <h2>About Us</h2>
          </div>
  
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2">
              <img src="/assets/img/travel.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>Travel Buddy</h3>
              <p>A Travel Buddy is a service that helps people to find a cars on for short periods of time, generally ranging from a few hours to a few weeks. people can search for the cars for specific route and can easily book the car they want this will allow them to save money.
              </p>
              <p>Moreover,Travel Buddy also allows user to list their own cars for routes and by that users can also earn some money.Travel Buddy has almost every type of car for all the sorts of people from couples to the entire family.</p>
              <p>Alongside the basic sharing of a vehicle, Travel Buddy service takes care of your privacy and for that weprovide you with highest level of security.</p>
            </div>
          </div>
  
        </div>
      </section><!-- End About Us Section -->
    <!-- End About Us Section -->
</div>
{% endblock content %}
